@import "./variables";

@mixin app-inner-width {
  width: $app-inner-width;

  @media (max-width: 1199px) {
    width: 80%;
  }

  @media (max-width: 500px) {
    width: 90%;
  }
}

@mixin svg-icon {
  svg {
    display: block;
    fill: currentColor;
    cursor: pointer;
    transition: $main-transition;

    &:active {
      fill: $svg-hover-color;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        fill: $svg-hover-color;
      }
    }
  }
}

@mixin form-title {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

@mixin auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 100%;
  }
}

@mixin button {
  background: $main-app-color;
  color: $light-color;
  width: 100%;
  border-radius: $main-border-radius;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: $main-transition;

  &:active {
    background: darken($main-app-color, 10);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: darken($main-app-color, 10);
    }
  }
}

@mixin text-main-color-with-hover {
  text-transform: uppercase;
  color: $main-app-color;
  cursor: pointer;
  transition: $main-transition;

  &:active {
    color: darken($main-app-color, 10);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: darken($main-app-color, 10);
    }
  }
}

@mixin main-bg-with-hover {
  background: $main-app-color;
  cursor: pointer;
  transition: $main-transition;

  &:active {
    background: darken($main-app-color, 10);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: darken($main-app-color, 10);
    }
  }
}

@mixin modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: $dark-color;
  background: $light-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

@mixin maker {
  padding: 0.5rem;
  border: 1px solid $common-grey-color;
  border-radius: $main-border-radius;
}

@mixin content-item {
  flex: 1;
  overflow: hidden;
  background: $light-grey-color;
  border: 1px solid transparent;
  border-radius: $main-border-radius;
  padding: 5px;
}

@mixin content-item-dark-mode {
  background: $dark-grey-color;
}

@mixin content-item-is-dragging {
  border-color: $main-app-color !important;
}

@mixin content-item-media {
  display: block;
  max-height: 400px;
  max-width: 100%;
  margin: 0 auto;
}

@mixin h4 {
  font-size: 2rem;
  margin: 1rem 0;
}

@mixin blockquote {
  border-left: 5px solid $common-grey-color;
  color: $common-grey-color;
  font-style: italic;
  padding: 0 20px;
}

@mixin code-block {
  font-family: monospace;
  background: $common-grey-color;
  border-radius: $main-border-radius;
  padding: 5px 20px;
}

@mixin list {
  margin: 1rem 0;
  padding: 0 2rem;
}

@mixin list-item {
  padding: 0 5px;
}

@mixin section {
  margin: 1rem 0;
}

@mixin link {
  text-decoration: none;
  color: $main-app-color;
}
