@import "./variables";

@mixin app-inner-width {
  width: $app-inner-width;

  @media (max-width: 1199px) {
    width: 80%;
  }

  @media (max-width: 500px) {
    width: 90%;
  }
}

@mixin svg-icon {
  svg {
    display: block;
    fill: $dark-color;
    transition: $main-transition;

    &:active {
      fill: $common-grey-color;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        fill: $common-grey-color;
      }
    }
  }
}
