// colors
$main-app-color: #00bb98;
// $main-app-color: #e605c8;
// $main-app-color: #fd7400;
// $main-app-color: #9b22eb;
// $main-app-color: #2268eb;
$light-color: #f0fff0;
$dark-color: #0d0d0d;
$dark-grey-color: #2c2c2c;
$common-grey-color: #666;
$light-grey-color: #909090;
$invalid-color: #dc3545;
$svg-color: #0d0d0d;
$svg-hover-color: #e605c8;

// $first-secondary-bg-color: #2c2c2c;
// $first-secondary-bg-color-bright-theme: #e3e3e3;
// $second-secondary-bg-color: #909090;
// $second-secondary-bg-color-bright-theme: #666;

// not-used colors
$color_01: #8146fe;
$color_02: #282c34;
$color_03: #61dafb;
$color_04: #003662;
$color_05: #f2f3f8;
$color_06: #fd7400;
$color_07: #e605c8;
$color_08: #9b22eb;
$color_09: #a7fc00;
$color_10: #edff21;
$color_11: #04ad79;
$color_12: #eece1a;
$color_13: #383838;
$color_14: #004358;
$color_15: #521779;
$color_16: #1a1a1a;
$color_17: #d4fd02;

// metrics
$app-inner-width: 60%;
$header-height: 60px;
$header-search-and-controls-height: 60%;
$modal-inner-width: 280px;

// z-i
$header-z-i: 20;
$mobile-search-form-z-i: 19;
$modal-z-i: 21;
$spinner-z-i: 22;
$sww-z-i: 22;

// transitions
$main-transition: all 0.1s linear;
$secondary-transition: all 0.2s linear;
$main-nav-btn-transition: all 0.3s linear;
$main-navigation-mobile-transition: all 0.2s linear;

// border-radii
$main-border-radius: 4px;
