@import "../../utils/css/variables";
@import "../../utils/css/mixins";

.content-rte {
  @include content-item;
}

.content-rte_dark-mode {
  @include content-item-dark-mode;
}

.content-rte_is-dragging {
  @include content-item-is-dragging;
}

.content-rte_placeholder_hidden {
  .public-DraftEditorPlaceholder-inner {
    display: none;
  }
}

// .public-DraftEditorPlaceholder-inner {
//   color: $main-app-color;
// }
// .public-DraftEditorPlaceholder-hasFocus {
//   .public-DraftEditorPlaceholder-inner {
//     color: darken($main-app-color, 10);
//   }
// }

.content-rte__block-styles,
.content-rte__inline-styles {
  padding: 2px;
}

.content-rte__inline-styles {
  border-top: 1px solid currentColor;
  // display: inline-block;
}

.content-rte__editor {
  border: 1px solid $common-grey-color;
  border-radius: $main-border-radius;
  padding: 5px;
  margin: 0.5rem 0;
}

.content-rte__h4,
.content-h4 {
  @include h4;
}

.content-rte__blockquote,
.content-blockquote {
  @include blockquote;
}

.content-code-block-wrapper,
.public-DraftStyleDefault-pre {
  @include code-block;
}

.content-code-block-wrapper code,
.content-rte__code-block {
  font-size: 1rem;
}

.public-DraftStyleDefault-depth0.public-DraftStyleDefault-listLTR {
  margin: 0;
}

.content-ol,
.content-ul,
.public-DraftStyleDefault-ul,
.public-DraftStyleDefault-ol {
  @include list;
}

.content-ul,
.public-DraftStyleDefault-ul {
  list-style-type: disc;
}
.content-ol,
.public-DraftStyleDefault-ol {
  list-style-type: decimal;
}

.content-oli,
.content-uli,
.content-rte__unordered-li,
.content-rte__ordered-li {
  @include list-item;
}

.content-rte__section,
.content-section {
  @include section;
}

.content-bold {
  font-weight: bold;
}

.content-italic {
  font-style: italic;
}

.content-underline {
  text-decoration: underline;
}

.content-strikethrough {
  text-decoration: line-through;
}

.content-inline-code {
  display: inline-block;
  padding: 3px;
  font-family: monospace;
  font-size: 16px;
  background-color: $common-grey-color;
  border-radius: $main-border-radius;
}

.content-sup {
  font-size: 0.7rem;
  vertical-align: top;
}

.content-sub {
  font-size: 0.7rem;
  vertical-align: bottom;
}

.content-highlight {
  background: $main-app-color;
}

.content-link {
  @include link;
  cursor: pointer;
}

// --------------DEV ONLY
.rich-text-editor__html-preview {
  border: 1px solid $common-grey-color;
  border-radius: $main-border-radius;
  padding: 5px;
  margin: 0.5rem 0;
  // white-space: pre-wrap;
  overflow-wrap: break-word;

  pre {
    white-space: pre-wrap;
    // overflow-wrap: break-word;
  }
}

.dev-btn {
  margin: 0 0.5rem;
}
// --------------DEV ONLY
