@import "../../utils/css/variables";
@import "../../utils/css/mixins";

.content-rte {
  @include content-item;
}

.content-rte_dark-mode {
  @include content-item-dark-mode;
}

.content-rte_is-dragging {
  @include content-item-is-dragging;
}

.content-rte_placeholder_hidden {
  .public-DraftEditorPlaceholder-inner {
    display: none;
  }
}

// .public-DraftEditorPlaceholder-inner {
//   color: $main-app-color;
// }
// .public-DraftEditorPlaceholder-hasFocus {
//   .public-DraftEditorPlaceholder-inner {
//     color: darken($main-app-color, 10);
//   }
// }

.content-rte__block-styles,
.content-rte__inline-styles {
  padding: 2px;
}

.content-rte__inline-styles {
  border-top: 1px solid currentColor;
  // display: inline-block;
}

.content-rte__editor {
  border: 1px solid $common-grey-color;
  border-radius: $main-border-radius;
  padding: 5px;
  margin: 0.5rem 0;
}

.content-rte__h4 {
  @include h4;
}

.content-rte__blockquote {
  @include blockquote;
}

.public-DraftStyleDefault-pre {
  @include code-block;
}
.content-rte__code-block {
  // font-size: 1rem;
}

.public-DraftStyleDefault-ul,
.public-DraftStyleDefault-ol {
  @include list;
}
.content-rte__unordered-li,
.content-rte__ordered-li {
  @include list-item;
}

.content-rte__section {
  @include section;
}

.rich-text-editor__html-preview {
  border: 1px solid $common-grey-color;
  border-radius: $main-border-radius;
  padding: 5px;
  margin: 0.5rem 0;
}

.dev-btn {
  margin: 0 0.5rem;
}
