@import "../../utils/css/variables";
@import "../../utils/css/mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background: $main-app-color;
  z-index: $header-z-i;
}

.header__inner {
  @include app-inner-width;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  margin-right: 2rem;
  height: 3rem;
  width: 3rem;

  @media (max-width: 767px) {
    margin: 0;
  }

  @include svg-icon;
  svg {
    height: 100%;
  }
}

.header__mobile-controls {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.header__search-form {
  max-width: 500px;
  flex-grow: 1;
  height: 60%;
  margin-right: 1rem;

  @media (max-width: 767px) {
    display: none;
  }
}

.header__mobile-search {
  display: none;
  font-size: 1.25rem;

  @media (max-width: 767px) {
    display: block;
  }

  @include svg-icon;
}

.header__dark-mode-toggler {
  display: flex;
  align-items: center;
  margin: 0 1rem 0 auto;

  @media (max-width: 767px) {
    margin: 0;
  }
}

.header__sun,
.header__moon {
  width: 1.5rem;
  display: flex;
  justify-content: center;

  svg {
    display: block;
  }
}

.header__sun {
  svg {
    fill: yellow;
  }
}

.header__moon {
  svg {
    fill: $svg-color;
  }
}

.header__sun_active,
.header__moon_active {
  font-size: 1.2rem;
}

.header__switcher {
  margin: 0 0.25rem;
}

.header__login {
  margin-left: 1rem;
  font-size: 1.5rem;

  @media (max-width: 767px) {
    margin-left: auto;
  }

  @include svg-icon;
}

.header__user {
  position: relative;
  margin-left: 1rem;

  @media (max-width: 767px) {
    margin-left: auto;
  }
}

.header__user-img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: $main-transition;

  @mixin hover {
    transform: scale(1.1);
  }
  &:active {
    @include hover;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @include hover;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.header__user-options {
  position: absolute;
  // top: 100%;
  // right: 0;
  margin-top: 1rem;
  width: 100%;
  border-radius: $main-border-radius;
  overflow: hidden;
  cursor: pointer;

  div {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    background: $main-app-color;
    margin-bottom: 1px;

    &:last-child {
      margin-bottom: 0;
    }

    @mixin hover {
      svg {
        fill: $svg-hover-color;
      }
    }
    &:active {
      @include hover;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        @include hover;
      }
    }

    svg {
      display: block;
      fill: $svg-color;
      transition: $main-transition;
    }
  }
}
