@import "../../utils/css/variables";
@import "../../utils/css/mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background: $main-app-color;
  z-index: $header-z-i;
}

.header__inner {
  @include app-inner-width;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  margin-right: 2rem;
  cursor: pointer;
  height: 50px;
  width: 50px;

  @media (max-width: 767px) {
    margin: 0;
  }

  @include svg-icon;
  svg {
    height: 100%;
  }
}

.header__mobile-controls {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.header__search-form {
  max-width: 500px;
  flex-grow: 1;
  height: 60%;

  @media (max-width: 767px) {
    display: none;
  }
}

.header__mobile-search {
  display: none;
  font-size: 1.25rem;

  @media (max-width: 767px) {
    display: block;
  }

  @include svg-icon;
}

.header__dark-mode-toggler {
  display: flex;
  align-items: center;
  margin: 0 1rem 0 auto;

  @media (max-width: 767px) {
    margin: 0;
  }
}

.header__sun,
.header__moon {
  width: 1.5rem;
  display: flex;
  justify-content: center;

  svg {
    display: block;
  }
}

.header__sun {
  svg {
    fill: yellow;
  }
}

.header__moon {
  svg {
    fill: $dark-color;
  }
}

.header__sun_active,
.header__moon_active {
  font-size: 1.2rem;
}

.header__switcher {
  margin: 0 0.25rem;
}

.header__login {
  margin-left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;

  @media (max-width: 767px) {
    margin-left: auto;
  }

  @include svg-icon;
}
