@import "../../utils/css/variables";
@import "../../utils/css/mixins";

.confirm {
  text-align: center;
  width: 250px;
}

.confirm__msg {
  text-transform: uppercase;
  margin: 1rem 0;
  white-space: pre-line;
}

.confirm__btn {
  @include button;
  width: 100px;
}
