@import "../../utils/css/variables";
@import "../../utils/css/mixins";

.rte-link-input {
  padding: 0.75rem;
}

.rte-link-input__text,
.rte-link-input__url {
  margin-bottom: 0.5rem;
  color: $light-color;
}

.rte-link-input__btn {
  @include button;
}
